<body (load)="getToken()">
  <div class="container">
    <script>
      alert("Masih dalam masa percobaan"),
        alert(
          "Tata cara penggunaan : \n 1.) Kirim email spotifymu ke rayhanjr2106@gmail.com \n 2.) Jika sudah terkonfirmasi silahkan login menggunakan spotify \n 3.) Tekan generate playlist \n 4.) Playlist akan muncul dengan nama Testing"
        ),
        alert(
          "Data yg di ambil untuk pembuatan playlist ini adalah data penggunaan spotify di 1 bulan terakhir"
        );
    </script>
    <h1>Concerto</h1>
    <p>Playlist Generator</p>

    <button class="btn" (click)="playlistGenerate()">Generate Playlist</button>
  </div>
</body>
